body{
    justify-content: center;
    margin: 0%;
    padding: 0%;
    border: 0px;
  
}

.body-div{
    background: 
    linear-gradient(296.8deg, rgba(90, 87, 255, 0.58) -22.17%, rgba(0, 0, 0, 0) 100%),  
    linear-gradient(113.39deg, rgba(249, 121, 205, 0.7) -16.88%, rgba(0, 0, 0, 0) 100%),  
   linear-gradient(116.34deg, #000000 0%, rgba(179, 179, 179, 0) 100%), #000000; 
   width: 95%;
   height: 100%;
   padding: 5vh;
   scroll-snap-align: center;
    
}

.body-div2{
    background-color: rgba(255, 255, 255, 0.100);
    padding: 4vh;
    border-radius: 3rem;
    overflow-y: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0 , 0.19) ;
    padding-top: 0%;
    


}


.title{
  padding-left: 7vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
  font-family: 'Sora', sans-serif;
  font-size: 5vh;
  font-weight: bold;
  text-align: left;
}

.listConatainer{
    display: table-row;
    overflow-y: scroll;
    display: table-row;
}
/* 
.playlists_y_overflow_control{
  display: table-cell;
  height: 100%;
} */

.songname{
  font-size: 2rem;
  font-family: 'Sora', sans-serif;
  font-weight: bold;
}

.songby{
  font-family: 'Sora', sans-serif;
  display: inline-block;
  font-weight: 300;
  font-size: 1.5rem;
  color: rgb(39, 39, 39);
}
.songArtist{
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;

}

.nowplaying_container{
    background-color: rgba(255, 255, 255, 0.050);
    border-radius: 3rem;
    padding: 2rem;
    text-align: center;
    margin-right: 5%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0 , 0.19) ;
    max-height: 445.6px;

}

.song-img img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0 , 0.19) ;
}



.songlist{
    background-color: rgba(255, 255, 255, 0.050);
    border-radius: 3rem;
    padding: 2rem;
    margin-right: 5%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0 , 0.19) ;
    max-height: 445.6px;
    overflow-y: scroll;
    /* position: relative; */

}

.listContents{
  max-height: 330px;
  overflow-y: scroll;
}
  

#songList{
  list-style-type: none;
}

.songlistclass li{
  font-size: 1.7rem;
  font-family: 'Sora', sans-serif;
  vertical-align: middle;
  align-content: center;
}

.customlist{
  background-color: rgba(255, 255, 255, 0.050);
  display : table-cell;
    padding: 1rem;
    padding-left: 2rem;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0 , 0.19) ;
}

.likedList{
    background-color: rgba(235, 122, 122, 0.150);
    border-radius: 3rem;
    padding: 2rem;
    margin-bottom: 2%;
    overflow-y: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0 , 0.19) ;


}

.like_song{
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 100;
  background: transparent;
  border: transparent;
  /* padding: 25px; */
  opacity: 0.8;
  transition: opacity .2s;
  color: red;

}


.song-img{
  position: relative;
  width: fit-content;
  margin: auto;
}

.song-img button:hover{


opacity: 100%;
color: red;

}

  .song-btns i{
    size: 5rem;


  } 

 .song-btns button
 {
   background: transparent;
   border: transparent;
   /* padding: 25px; */
   opacity: 0.8;
   transition: opacity .2s;
} 

.song-btns button:hover
{
    opacity: 70%;
}



button{
    height: auto;
    width: auto;
    justify-content: center;
}



.playlist_control_btns{
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 3rem;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0 , 0.19) ;

}

.playlist-btn{
    size: 20rem;
    background-color: cyan;
    border-radius: 1rem;
}

.playlistForm{
  padding-top: 12px;
  font-family: 'Sora', sans-serif;
  font: weight 300px;
  
}

.addto{
  display: inline-block;
  padding-top: 0px;

}

.playlistForm select{
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 0 20px 0px rgba(0, 0, 0 , 0.19) ;
  border-color: transparent;
  border-radius: 1rem;
}

.playlistForm option{
  font-family: 'Sora', sans-serif;
  font-weight: 300;

}

.playlistForm input{
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 0 20px 0px rgba(0, 0, 0 , 0.19) ;
  border-color: transparent;
  border-radius: 1rem;

}



/* Making the first row responsive UwU ................START...... */


/* Tables
================================== */
.Rtable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
  }
  .Rtable-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
  }
  
  /* Table column sizing
  ================================== */
  .Rtable--2cols > .Rtable-cell {
    width: 50%;
  }
  .Rtable--3cols > .Rtable-cell {
    width: 30.00%;
  }
  .Rtable--4cols > .Rtable-cell {
    width: 25%;
  }
  .Rtable--5cols > .Rtable-cell {
    width: 20%;
  }
  .Rtable--6cols > .Rtable-cell {
    width: 16.6%;
  }

  /*==================================== */
  @media all and (max-width: 800px) {
    .Rtable--collapse {
      display: block;
    }
    .Rtable--collapse > .Rtable-cell {
      width: 100% !important;
    }
    .Rtable--collapse > .Rtable-cell--foot {
      margin-bottom: 1em;
    }
  }
  .no-flexbox .Rtable {
    display: block;
  }
  .no-flexbox .Rtable > .Rtable-cell {
    width: 100%;
  }
  .no-flexbox .Rtable > .Rtable-cell--foot {
    margin-bottom: 1em;
  }
  



/* Making the first row responsive UwU ................END...... */



/* Songs Slider css------------------------- */

.slider_container{
  width:75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.seekSlider{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  width: 60%;

}

.seekSlider::-webkit-slider-thumb{
  -webkit-appearance: media-slider;
  -moz-appearance: media-slider;
  appearance: media-slider;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seekSlider:hower{
  opacity: 1;
}

.currentTime,
.totalDuration{
  padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
i.fa-heart{
  cursor: pointer;

}